*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f7faf7;
    color:#333;
    line-height:1.6;
}

header {
    background: #0F172A;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #ffffff;
}

.logo img {
    width: 100px;
}

.brand h2 {
    margin: 0;
    color: #F59E0B;
}

.brand p {
    margin: 2px 0;
    font-size: 14px;
    color: #E2E8F0;
}

.brand small {
    color: #CBD5E1;
    font-size: 12px;
}

.container{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 0;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
    color:#fff;
}

.logo img{
    width:55px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

nav a:hover,
nav a.active {
    color: #F59E0B;
}

#menu-toggle{
    display:none;
}

.menu-btn{
    display:none;
    color:white;
    font-size:30px;
    cursor:pointer;
}

.hero{
    height:50vh;
    background:url("../images/loo.png") center/cover no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
}

.overlay{
    background:rgba(0,0,0,.55);
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    padding:20px;
}

.overlay h1{
    font-size:60px;
    margin-bottom:20px;
}

.overlay p{
    max-width:700px;
    margin-bottom:30px;
}

.buttons a {
    background: #0EA5A4;
    color: white;
    padding: 14px 30px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.3s;
}

.buttons a:hover {
    background: #F59E0B;
    color: #0F172A;
}

.welcome,
.featured,
.partners{
    width:90%;
    margin:70px auto;
    text-align:center;
}

/*section h2{
    color: #F59E0B;
}*/

.impact{
    width:90%;
    margin:60px auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    background:white;
    padding:35px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.projects{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
    margin-top:30px;
}

.projects article{
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}
article:hover{
    transform:translateY(-8px);
}

article{
    transition: 0.3s;
}

.projects img{
    width:100%;
    height:230px;
    object-fit:cover;
}

.projects h3,
.projects p{
    padding:15px;
}

.testimonial {
    background: white;
    padding: 25px;
    border-left: 5px solid #F59E0B;
    border-radius: 8px;
    font-style: italic;
    width:90%;
    margin:70px auto;
}

.logos{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.logos span{
    background: #0EA5A4;
    color:white;
    padding:15px 25px;
    border-radius:10px;
}

footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:30px;
    margin-top:50px;
}

@media(max-width:768px){

.menu-btn{
display:block;
}

nav{
display:none;
width:100%;
}

nav ul{
flex-direction:column;
padding-top:20px;
}

#menu-toggle:checked ~ nav{
display:block;
}

.container{
flex-wrap:wrap;
}

.overlay h1{
font-size:36px;
}

}